footer.footer
	a(href="#").say
		i.icon.fa.fa-comments
	.container
		.footer__inner
			.row
				.col-lg-5
					.footer-info
						.footer__logo
							a(href="/")
								img(src="images/footer-logo.svg", alt="")
						.footer__desc
							| The full-stack design team who focuses on digital products whatever they are.

						ul.social-list.footer__social
							li
								a(href="#")
									i.icon.fa.fa-facebook
							li
								a(href="#")
									i.icon.fa.fa-twitter
							li
								a(href="#")
									i.icon.fa.fa-google-plus
							li
								a(href="#")
									i.icon.fa.fa-youtube-play

						//- .footer__copy.hidden-lg
						//- 	| © 2019 all rights reserved

				.col-lg-7
					.footer-nav
						.row
							.col-sm-6.col-md-4
								.footer-widget
									h3.footer-widget__title
										| Pages

									ul.footer-nav-list
										li
											a(href="#") Home
										li
											a(href="#") Services
										li
											a(href="#") About us
										li
											a(href="#") Blog
										li
											a(href="#") Contact us

							.col-sm-6.col-md-4
								.footer-widget
									h3.footer-widget__title
										| Shortcuts

									ul.footer-nav-list
										li
											a(href="#") Book Studio
										li
											a(href="#") Book Skype
										li
											a(href="#") Privacy Policy
										li
											a(href="#") Cookie Policy

							.col-md-4
								.footer-widget
									h3.footer-widget__title
										| Contact

									ul.footer-nav-list.contact_list
										li
											+svg('phone')
											a(href="#") +123 456 789
										li
											+svg('location')
											a(href="#") Contact Us


			.footer__copy
				| © 2019 all rights reserved