header.header
	.container.header__container
		.header-inner
			.header__logo
				a(href="/")
					img(src="images/logo.svg", alt="")
			nav.header__nav
				ul.main-menu-list
					li
						a(href="#") Home
					li
						a(href="#") Services
					li
						a(href="#") About
					li
						a(href="#") Our Work
					li
						a(href="#") Blog
					li
						a(href="#") Contact

				a(href="#").btn.btn-lg.btn-white.btn_width_265.header__btn
					i.icon.fa.fa-comments
					| Say Hello

			button.navbar-toggler
				span.navbar-toggler__inner
					span
					span
					span

	.header-waves

		svg.wave-divider.dark-bg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 24 150 28', preserveAspectRatio='none')
			defs
				path#gentle-wave(d='M-160 44c30 0         58-18 88-18s        58 18 88 18         58-18 88-18         58 18 88 18        v44h-352z')
			g.wave-parallax1
				use(xlink:href='#gentle-wave', x='50', y='3', fill="rgba(255,255,255,0.7)")
			g.wave-parallax2
				use(xlink:href='#gentle-wave', x='50', y='0', fill="rgba(255,255,255,0.5)")
			g.wave-parallax4
				use(xlink:href='#gentle-wave', x='50', y='6', fill='#FFFFFF')
