extends pug/base

append vars
	-
		var body = {
			classList: ["main-page"]
		}

	-	
		var profiles = [
			{
				title: 'Josh Gudgeon',
				text: 'Creative director'
			},
			{
				title: 'Leanne Casson',
				text: 'Personal Assistant'
			},
			{
				title: 'Joe Bloggs',
				text: 'Lorum Ipsum'
			},

		]


block content

	.main-wrap
		.site__layer
		include pug/header
		
		main.main-container
			.hero
				.container.container_1470
					.row

						.col-xl-4.col-lg-5.order-lg-3
							.hero__img
								.hero__img__inner
									//- .hero__img__bg
									img(src="images/hero__img-bg.svg", alt="").hero__img-bg

									svg(viewBox="0 0 383.97192 383.34341").hero__img-polygon
										pattern#pattern(width='100%', height='100%', patternUnits="userSpaceOnUse")
											image(xlink:href='images/hero/podcast.png',  width='384', height='384')
										path(fill-rule='evenodd', fill='url(#pattern)', d='m 150.88652,17.004123 c 30.70054,-25.2644035 68.96737,-31.241728 109.16441,45.247748 40.19682,76.488079 101.7007,200.637629 120.85586,239.385879 19.15398,38.74984 -5.68805,80.0808 -51.50056,78.18113 C 283.59312,377.92003 182.43187,363.881 99.464907,347.12122 16.497946,330.36143 -14.841963,319.49327 11.308645,242.9962 37.46227,166.50008 120.1854,42.269333 150.88732,17.004708 Z')




						.col-xl-8.col-lg-7.order-lg-2
							.hero__info
								h1.text-xl.hero__title
									| Leeds Based podcast studio hire
								.text-mute.hero__desc
									p
										| We have a great team talented and committed people offering a wide range of creative services.

								ul.btn-list.hero__btn-list
									li
										a(href="#").btn.btn-red.btn-lg.btn_width_265
											i.icon.fa.fa-microphone
											| Book Studio


			.gallery.grey-bg
				.container
					.heading
						h2.heading__title.text-xs
							| Studio & Guests
						h3.heading__subtitle.text-lg
							| Some of the guests
						.heading__desc
							p
								| Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti. 
								| Aliquam fringilla orci tincidunt, ullamcorper erat in, malesuada metus. Vivamus luctus maximus vestibulum. 
								| Donec et enim 

				.tiled-slider
					.tiled-slider__item
						a.fancybox(href="images/gallery/img-1.jpg", data-fancybox="gallery" data-caption="Caption for single image")
							img(src="images/gallery/img-1.jpg" alt="alt")
							.tiled-slider__desc
								| Name or photo title here
					.tiled-slider__item
						a.fancybox(href="images/gallery/img-2.jpg", data-fancybox="gallery" data-caption="Caption for single image")
							img(src="images/gallery/img-2.jpg" alt="alt")
							.tiled-slider__desc
								| Name or photo title here
					.tiled-slider__item
						a.fancybox(href="images/gallery/img-3.jpg", data-fancybox="gallery" data-caption="Caption for single image")
							img(src="images/gallery/img-3.jpg" alt="alt")
							.tiled-slider__desc
								| Name or photo title here
					.tiled-slider__item
						a.fancybox(href="images/gallery/img-4.jpg", data-fancybox="gallery" data-caption="Caption for single image")
							img(src="images/gallery/img-4.jpg" alt="alt")
							.tiled-slider__desc
								| Name or photo title here
					.tiled-slider__item
						a.fancybox(href="images/gallery/img-5.jpg", data-fancybox="gallery" data-caption="Caption for single image")
							img(src="images/gallery/img-5.jpg" alt="alt")
							.tiled-slider__desc
								| Name or photo title here
					.tiled-slider__item
						a.fancybox(href="images/gallery/img-1.jpg", data-fancybox="gallery" data-caption="Caption for single image")
							img(src="images/gallery/img-1.jpg" alt="alt")
							.tiled-slider__desc
								| Name or photo title here



			.latest.latest_podcast.slider-tabs
					.container
						.heading
							h2.heading__title.text-xs
								| Listen up
							h3.heading__subtitle.text-lg
								| Latest Podcasts

					.slider-nav-wrap
						.container
							.slider-nav-arr.slider-tabs__nav 
								.prev.nav-arr
									+svg('pagi-arr-left')
								.next.nav-arr
									+svg('pagi-arr-right')

							.row
								.col-lg-5
									.latest__left
										.latest__left__heading
											h2.latest__title.heading__subtitle.text-lg
												| All Stars Podcast
											.latest__desc
												| Some of our latest podcasts
										
										ul.slider-tabs-nav.slider-nav
											li
												.slider-tabs-nav__item
													span
														| Danny Micthell (UFC & Bellator…
											li
												.slider-tabs-nav__item
													span
														| Munch Khera, Kiru & Pav Singh Sahota
											li
												.slider-tabs-nav__item
													span
														| Coach Chris
											li
												.slider-tabs-nav__item
													span
														| BKB, Area 51 & Streetfight storytime
											li
												.slider-tabs-nav__item
													span
														| AVT MMA Leeds


								.col-lg-7
									.latest__right.latest-video
										.slider-tabs-wrap.slider-for
											div
												.slider-tabs__tab
													.video.latest-video__video
														.video-js-box.tube-css.video-js-responsive-container.vjs-hd
															video.video-js( controls="" preload="")
																source(src="video/Урок 2. Установка WordPress.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

													.latest-video__desc
														p
															| Josh sits down with former UFC & Bellator MMA fighter Danny Mitchell.  The guys talk about how Danny started in MMA at a young age and obtaining 
															| his black belt in Brazilian Jiu-Jitsu. Then ultimately climbing the ranks to get signed by the UFC.  
															| They also dive into the injuries sustained both in and out of the cage and the crash that could have cost Danny his life.



											div
												.slider-tabs__tab
													.video.latest-video__video
														.video-js-box.tube-css.video-js-responsive-container.vjs-hd
															video.video-js( controls="" preload="")
																source(src="video/Урок 2. Установка WordPress.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

													.latest-video__desc
														p
															| Josh sits down with former UFC & Bellator MMA fighter Danny Mitchell.  The guys talk about how Danny started in MMA at a young age and obtaining 
															| his black belt in Brazilian Jiu-Jitsu. Then ultimately climbing the ranks to get signed by the UFC.  
															| They also dive into the injuries sustained both in and out of the cage and the crash that could have cost Danny his life.

											div
												.slider-tabs__tab
													.video.latest-video__video
														.video-js-box.tube-css.video-js-responsive-container.vjs-hd
															video.video-js( controls="" preload="")
																source(src="video/Урок 2. Установка WordPress.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

													.latest-video__desc
														p
															| Josh sits down with former UFC & Bellator MMA fighter Danny Mitchell.  The guys talk about how Danny started in MMA at a young age and obtaining 
															| his black belt in Brazilian Jiu-Jitsu. Then ultimately climbing the ranks to get signed by the UFC.  
															| They also dive into the injuries sustained both in and out of the cage and the crash that could have cost Danny his life.

											div
												.slider-tabs__tab
													.video.latest-video__video
														.video-js-box.tube-css.video-js-responsive-container.vjs-hd
															video.video-js( controls="" preload="")
																source(src="video/Урок 2. Установка WordPress.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

													.latest-video__desc
														p
															| Josh sits down with former UFC & Bellator MMA fighter Danny Mitchell.  The guys talk about how Danny started in MMA at a young age and obtaining 
															| his black belt in Brazilian Jiu-Jitsu. Then ultimately climbing the ranks to get signed by the UFC.  
															| They also dive into the injuries sustained both in and out of the cage and the crash that could have cost Danny his life.


											div
												.slider-tabs__tab
													.video.latest-video__video
														.video-js-box.tube-css.video-js-responsive-container.vjs-hd
															video.video-js( controls="" preload="")
																source(src="video/Урок 2. Установка WordPress.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

													.latest-video__desc
														p
															| Josh sits down with former UFC & Bellator MMA fighter Danny Mitchell.  The guys talk about how Danny started in MMA at a young age and obtaining 
															| his black belt in Brazilian Jiu-Jitsu. Then ultimately climbing the ranks to get signed by the UFC.  
															| They also dive into the injuries sustained both in and out of the cage and the crash that could have cost Danny his life.






			.feedback.grey-bg
				.container
					.heading
						h2.heading__title.text-xs
							| GET IN TOUCH
						h3.heading__subtitle.text-lg
							| Request a callback
						.heading__desc
							p
								| Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec sit amet est. 
								| Sed ut euismod quam. Suspendisse potenti. Aliquam fringilla orci tincidunt, ullamcorper
					form.feedback-form(action="#")
						.row.feedback-form__row
							.col-md-6.feedback-form__col
								input.form-control(placeholder="Forename")
							.col-md-6.feedback-form__col
								input.form-control(placeholder="Surname")
							.col-md-6.feedback-form__col
								input.form-control(placeholder="Email Address")
							.col-md-6.feedback-form__col
								input.form-control(placeholder="Contact Number")

							.col-12.feedback-form__col
								select.select-style
									option
										| Service Required
									option
										| Service Required
									option
										| Service Required

								textarea.form-control(placeholder="Message")

								label.accept
									input(type="radio" name="accept")
									span.accept__text
										| On occasion Get Your Media LTD may contact you with information in regards to services we provide, offers and promotions.
										| Note that you can either amend or withdraw your consent at any time, to agree check the box.

								button(type="submit").btn.btn-block.btn-blue
									| Submit


		include pug/footer