*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


body {
  font-size: 18px;
  line-height: 1.44;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #fff;
  color: $color-black;
  font-family: Mont;
  font-weight: 300;
  @include max-sm {
    font-size: 16px;
  }
}

p {
  margin-top: 0; 
  margin-bottom: 15px;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.1;
  font-weight: normal;
  // font-family: $fb;
}

* {
  outline: none!important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: $color-black;
  &:hover {  
    color: $color-black;
  }
}

.main-wrap {
  overflow: hidden;
}

.header {
  background-image: linear-gradient(-81deg, #008fd1 0%, #0c2558 32%, #00152b 54%, #00152c 62%, #9c072b 100%);
}

.header__logo {
  img {
    display: block;
    width: 88px;
    height: 88px;
  }
}

@keyframes fade_in {
  0% {
      opacity: 0;
      visibility: hidden
  }
  100% {
      opacity: 1;
      visibility: visible
  }
}

@keyframes fade_out {
  0% {
      opacity: 1;
      visibility: visible
  }
  100% {
      opacity: 0;
      visibility: hidden
  }
}

@keyframes push_text_top {
  0% {
      opacity: 0;
      transform: translateY(60px)
  }
  100% {
      opacity: 1;
      transform: translateY(0)
  }
}

@keyframes push_nav_right {
    0% {
        opacity: 0;
        transform: translateX(-60px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes push_text_right {
    0% {
        opacity: 0;
        transform: translateX(-60px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}



.main-menu-list {
  display: flex;
  margin-right: 30px;
  @include max-1300 {
    margin-right: 0;
  }
  @include max-xl  {
    display: block;
    margin-bottom: 60px;
  }
  li {
    margin-right: 46px;
    @include max-1400 {
      margin-right: 40px;
    }
    @include max-xl  {
      margin-bottom: 20px;
    }
    a {
      font-weight: 600;
      font-size: 20px;
      color: #fff;
      @include max-1400  {
        font-size: 18px;
      }
      @include max-xl  {
        color: #00152b;
        display: inline-block;
        position: relative;

      }
    }
  }
}

.header__container {
  max-width: none;
}

.header-inner {
  display: flex;
  align-items: flex-start;
  padding-top: 33px;
  padding-left: 45px;
  padding-right: 50px;
  padding-bottom: 40px;
  @include max-xl {
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
  }

}

.header__btn {
  font-weight: 700;
  @include max-xl {
    border-color: #008fd1;
    font-size: 20px;
    min-width: auto;
  }
}

.header__nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
  @include max-xl {
    z-index: 1000;
    position: fixed;
    padding: 60px 30px 30px;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
    max-width: 280px;
    transform: translateX(-100%);
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right bottom;
    &.show {
      transform: translate(0%); 
      transition: all .3s ease;
      transition-delay: .3s;
      // box-shadow: 12px 0 35px 20px rgba(#12182d, .2);
      .header__btn {
        animation: push_text_top .4s 1s cubic-bezier(.175, .885, .32, 1) both;
      }
      .main-menu-list {
        & > li {
          & > a {
            animation: push_text_right .4s cubic-bezier(.175, .885, .32, 1) both;
          }
          &:nth-child(1) {
            & > a {
              animation-delay: .45s;
            }
          }         
          &:nth-child(2) {
            & > a {
              animation-delay: .55s;
            }
          }
          &:nth-child(3) {
            & > a {
              animation-delay: .65s;
            }
          }
          &:nth-child(4) {
            & > a {
              animation-delay: .75s;
            }
          }
          &:nth-child(5) {
            & > a {
              animation-delay: .85s;
            }
          }
          &:nth-child(6) {
            & > a {
              animation-delay: .95s;
            }
          }
          &:nth-child(7) {
            & > a {
              animation-delay: 1.05s;
            }
          }
          &:nth-child(8) {
            a {
              animation-delay: 1.1s;
            }
          }
          &:nth-child(9) {
            & > a {
              animation-delay: 1.15s;
            }
          }
          &:nth-child(10) {
            & > a {
              animation-delay: 1.2s;
            }
          }
        }
      }

    }
  }
}

.waves {
  position:relative;
  width: 100%;
  height: 90px;
  overflow: hidden;
  margin-bottom:-7px; /*Fix for safari gap*/
  display: none;
}

.waves > path {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.waves > path:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.waves > path:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.waves > path:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.waves > path:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

.testimonials {
  .waves {
    transform: scaleY(-1);
  }
}


.hero {
  padding-top: 215px;
  padding-bottom: 305px;
  @include max-1400 {
    padding-top: 170px;
    padding-bottom: 240px;
  }
  @include max-xl {
    padding-top: 120px;
    padding-bottom: 170px;
  }
  @include max-lg {
    padding-top: 100px;
    padding-bottom: 140px;
  }
  @include max-md {
    padding-top: 70px;
    padding-bottom: 90px;
  }
  // @include max-sm {
  //   padding-top: 60px;
  //   padding-bottom: 60px;
  // }
}

.hero__info {
  padding-top: 35px;
  @include max-sm {
    padding-top: 0;
  }
}

.hero__title {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 20px;
}

.hero__desc {
  font-size: 22px;
  max-width: 650px;
  width: 100%;
  margin-bottom: 30px;
  @include max-xl {
    font-size: 20px;
  }
  @include max-sm {
    font-size: 18px;
  }
}

.hero__img-bg {
  max-width: 390px;
  width: 100%;
  position: absolute;
  left: 28px;
  top: 40px;
}

.hero__img {
  position: relative;
  padding-right: 28px;
  padding-bottom: 40px;
  @include max-lg {
    margin-bottom: 50px;
  }
}


@mixin clip-path($clip) {
  -webkit-clip-path: url($clip);
  -moz-clip-path: url($clip);
  -ms-clip-path: url($clip);
  clip-path: url($clip);
}


.blog-polygon {
  @include clip-path('../images/blog-1.svg#blog-polygon_1');  
}

.profiles-grid {
  .profiles-grid__col {
    &:nth-child(2n-1) {
      .profile-box__image {
        .blog-polygon {
          @include clip-path('../images/blog-1.svg#blog-polygon_1');  
        }
      }
    }
    &:nth-child(3n-1) {
      .profile-box__image {
        .blog-polygon {
          @include clip-path('../images/blog-2.svg#blog-polygon_2');  
        }
      }
    }
    &:nth-child(3n) {
      .profile-box__image {
        .blog-polygon {
          @include clip-path('../images/blog-3.svg#blog-polygon_3');  
        }
      }
    }
  }
}


.hero__img-polygon {
  z-index: 1;
  position: relative;
  width: 380px;
  height: 376px;
  @include max-sm {
    width: 280px;
    height: 276px;
  }
  h3
  image {
    width: 100%;
    height: 100%;
  }
}

.hero__img {
  text-align: right;
  @include max-xl {
    text-align: center;
  }
}

.hero__img__inner {
  position: relative;
  display: inline-block;
}

.hero__btn-list {
  @include max-sm {
    text-align: center;
  }
  li {
    & + li {
      margin-left: 25px;
      @include max-sm {
        margin-left: 0;
      }
    }
  }
}

.grey-bg {
  background-color: #f8fcff;
}

.services {
  padding-top: 76px;
  padding-bottom: 75px;
  @include max-sm {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .heading {
    margin-bottom: 65px;
    @include max-xl {
      margin-bottom: 40px;
    }
  }
}



.services_grid {
  margin-bottom: 50px;
  @include max-sm {
    margin-bottom: 30px;
  }
  .post-grid__col {
    &:nth-child(2) {
      .post-box {
        &::before {
          background-color: #9c072b;
        }
      }
    }
    &:nth-child(3) {
      .post-box {
        &::before {
          background-color: #008fd1;
        }
      }
    }
  }
}

.post-grid__col {
  margin-bottom: 30px;
}

.post-box {
  position: relative;
  max-width: 380px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 65px 25px 48px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  @include max-xl {
    padding: 45px 20px 40px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0c2558;
    opacity: .8;
  }
}

.post-box__body {
  position: relative;
  z-index: 1;
}

.post-box__icon {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 29px;
  img {
    max-height: 100%;
  }
}

.post-box__title {
  font-size: 22px;
  margin-bottom: 17px;
  font-weight: 600;
  a {
    color: #fff;
  }
}

.post-box__btn {
  margin-top: auto;
}

.post-box__desc {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 26px;
}


.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
  text-transform: uppercase;
  color: #008fd1;
  margin-bottom: 20px;
}

.heading__subtitle {
  font-weight: 600;
  margin-bottom: 20px;
}

.heading__desc {
  max-width: 720px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #8190a6;
  line-height: 1.6;
}

.clients {
  padding-top: 80px;
  padding-bottom: 135px;
  @include max-1400 {
    padding-bottom: 100px;
  }
  @include max-lg {
    padding-bottom: 70px;
  }
  @include max-md {
    padding-bottom: 40px;
  }
  @include max-sm {
    padding-top: 60px;
  }
  .heading {
    margin-bottom: 130px;
    @include max-xl {
      margin-bottom: 90px;
    }
    @include max-md {
      margin-bottom: 60px;
    }
    @include max-sm {
      margin-bottom: 40px;
    }
  }
}

.clients-carousel {
  .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .owl-item {
    img {
      width: auto;
      display: inline-block;
    }
  }
} 

.clients-carousel__box {
  text-align: center;

}

.clients-carousel__container {
  @include min-xl {
    max-width: 1440px;
    width: 100%;
  }
}

.clients-carousel-wrap {
  position: relative;
  padding-left: 130px;
  padding-right: 130px;
  @include max-1400 {
    padding-left: 90px;
    padding-right: 90px;
  }
  @include max-xl {
    padding-left: 70px;
    padding-right: 70px;
  }
  @include max-md {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include max-xs {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.clients-carousel {
  padding-left: 150px;
  padding-right: 150px;
  @include max-lg {
    padding-left: 120px;
    padding-right: 120px;
  }
  @include max-md {
    padding-left: 70px;
    padding-right: 70px;
  }
  .owl-next, .owl-prev { 
    width: 55px;
    height: 55px;
    border: 3px solid #8190a6!important; 
    background-color: #fff;
    border-radius: 50%;
    @include max-md {
      width: 45px;
      height: 45px;
    }
    .fa {
      font-size: 30px;
      color: #8190a6;
      display: inline-block;
      @include centerer
    }
  }
  .owl-prev {
    left: 0px;
    .fa {
      margin-left: -2px;
    }
  } 
  .owl-next { 
    left: auto;
    right: 0px;
    .fa {
      margin-left: 2px;
    }

  }
}

.owl-next, .owl-prev {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
}

.owl-prev {
  left: 0px;
} 
.owl-next { 
  left: auto;
  right: 0px;
}


.slider-tabs {
  .slick-list {
    padding: 30px!important;
    margin: -30px;
  }
}

.slider-tabs-nav__item {
  font-size: 22px;
  font-weight: 600;
  color: #8190a6;
  margin-bottom: 45px;
  cursor: pointer;
  @include max-1400 {
    margin-bottom: 30px;
  }
  @include max-xl {
    font-size: 20px;
    margin-bottom: 25px;
  }
  @include max-sm {
    font-size: 18px;
    margin-bottom: 20px;
  }
  span {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 2px;
      left: 0;
      right: 0;
      background-color: transparent;
      transition: all .3s ease;
    }
  }
}

.slider-tabs-nav {
  .slick-slide {
    &.slick-current {
      .slider-tabs-nav__item {
        color: #9c072b;
        span {
          &::before {
            right: -65px;
            background-color: #9c072b;
          }
        }
      }
    }
  }
}

.video-js-responsive-container.vjs-hd {
  padding-top: 56.25%;
}
.video-js-responsive-container.vjs-sd {
  padding-top: 75%;
}
.video-js-responsive-container {
  width: 100%;
  position: relative;
}
.video-js-responsive-container .video-js {
  height: 100% !important; 
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.video {
  padding: 17px 17px 0 17px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 12px 1px rgba(0, 21, 43, 0.1), 0 20px 20px rgba(0, 21, 43, 0.1);
}

.tube-css {
  ul.vjs-progress-holder {
    margin-right: 0;
    border: 0;
    border-radius: 5px;
    height: 6px;
    margin-top: 9px;
    background: rgba(#8190a6, .1);
    li.vjs-load-progress {
      background: rgba(#008fd1, .1);
      border-radius: 3px;
      height: 2px;
      margin-top: 2px;
      margin-left: 2px;
    }
  }
  ul.vjs-controls {
    display: block!important;
    background: #fff;
    padding-right: 0;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    & > li {
      border: 0;
      text-align: left;
      &.vjs-volume-control {
        display: none;
      }
      &.vjs-fullscreen-control {
        display: none;
      }
      &.vjs-time-control {
        
      }
    }
    li.vjs-time-control {
      .vjs-duration-display {
        display: none;
      }
      .vjs-current-time-display {
        color: #8190a6;
        font-size: 15px;
        & + span {
          display: none;
        }
      }
    } 
  }
  li.vjs-progress-control {
    li.vjs-play-progress {
      background: #008fd1;
      border-radius: 3px;
      height: 2px;
      margin-top: 2px;
      margin-left: 3px;
    }
  }
  li.vjs-play-control.vjs-pause {
    span {
      width: 10px;
      margin-left: 0;
      border-color: #8190a6;
    }
    &:hover {
      span {
        border-left-color: #008fd1;
        border-right-color: #008fd1;
      }
    }
  }
  li.vjs-play-control.vjs-play {
    span {
      border-left-color: #8190a6;
      margin-left: 0;
    }
    &:hover {
      span {
        border-left-color: #008fd1;
      }
    }
  }
}

.latest-video__desc {
  color: #0c2558;
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 35px;
}

.latest-video__video {
  margin-bottom: 35px;
}

.latest {
  &.latest_projects {
    padding-top: 215px;
    padding-bottom: 100px;
    @include max-1400 {
      padding-top: 170px;
      padding-bottom: 100px;
    }
    @include max-xl {
      padding-top: 120px;
      padding-bottom: 90px;
    }
    @include max-md {
      padding-top: 80px;
    }
    @include max-sm {
      padding-top: 60px;
    }
  }
  &.latest_podcast {
    padding-top: 90px;
    padding-bottom: 100px;
    .heading {
      margin-bottom: 80px;
    }
    .latest__left__heading {
      margin-bottom: 65px;
    }
  }
}

.latest__title {
  font-weight: 700;
  margin-bottom: 10px;
}

.latest__left {
  margin-bottom: 30px;
  overflow: hidden;
}

.latest__left__heading {
  margin-bottom: 105px;
  text-align: left;
  @include max-xl {
    margin-bottom: 70px;
  }
}

.latest__desc {
  font-size: 19px;
  color: #00152b;
}

.testimonials-carousel {
  max-width: 550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.testimonials {
  background-color: #00152b;
  background-image: url(../images/bg/testimonials-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 131px;
  padding-bottom: 130px;
  .heading__subtitle {
    color: #fff;
  }
  .heading__text {
    color: #969ca2;
  }
  .heading {
    margin-bottom: 77px;
  }
}

.testimonial {
  text-align: center;
  color: #fff;
}

.clip-image {

}

.clip-image__inner {

}

.clip-image__bg {
  width: 100%;
  position: absolute;
}

.testimonial__image {
  margin-bottom: 94px;
}

.clip-image__polygon {
  position: relative;
  z-index: 1;
}

.testimonial__img-bg {
  width: 211px;
  height: 189px;
}

.testimonial__img-polygon {
  width: 186px;
  height: 184px;
}

.testimonials-carousel {
  .testimonial__image {
    img {
      width: auto;
      display: inline-block;
    }
  }
}

.testimonial__name {
  color: #008fd1;
  font-size: 24px;
  margin-bottom: 5px;
}

.testimonial__text {
  line-height: 1.5;
  margin-bottom: 15px;
}

.testimonial__rating {
  margin-bottom: 18px;
}

.rating {
  li {
    display: inline-block;
    vertical-align: middle;
    margin-left: -3px;
    padding-left: 2px;
    padding-right: 2px;
    .fa {
      color: #fbc332;
      font-size: 18px;
    }
  }
}


.our-blog {
  padding-top: 40px;
  padding-bottom: 100px;
  @include max-xl {
    padding-bottom: 80px;
  }
  @include max-sm {
    padding-bottom: 60px;
  }
  .heading {
    margin-bottom: 105px;
    @include max-xl {
      margin-bottom: 70px;
    }
  }
  .blog-grid {
    margin-bottom: 60px;
    @include max-xl {
      margin-bottom: 40px;
    }
    @include max-sm {
      margin-bottom: 30px;
    }
  }
}

.blog-box {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 40px 40px rgba(197, 195, 249, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.blog-box__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  a {
    color: #5a5454;
  }
}

.blog-box__info {
  padding: 0 40px 45px;
  display: flex;
  flex: 1;
  flex-direction: column;
  @include max-xl {
    padding: 0 25px 35px;
  }
}

.blog-box__desc {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 10px;
}

.blog-box__btn {
  margin-top: auto;
  svg {
    width: 40px;
    height: 29px;
  }
}

.blog-grid__col {
  margin-bottom: 30px;
}

.contact_list {
  li {
    svg {
      width: 14px;
      height: 15px;
      float: left;
      position: relative;
      top: 4px;
    }
    a {
      padding-left: 32px;
      display: block;
    }
  }
}


@keyframes wave-animation {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 3000px 0
    }
}


.blog-box__image {
  position: relative;
  margin-bottom: 5px;
  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
  }
  &::before {
    content: '';
    display: block;
    padding-bottom: 69%;
  }
  &::after {
    background-image: url(../images/wave.png);
    content: '';
    transform: scaleY(-1);
    display: block;
    height: 74px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 12;
    animation: wave-animation 8s infinite linear;
  }
}

.social-list {
  font-size: 0;
  margin-left: -7px;
  margin-right: -7px;
  li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 7px;
    padding-right: 7px;
    a {
      background-color: #008fd1;
      display: block;
      width: 43px;
      height: 43px;
      line-height: 55px;
      text-align: center;
      border-radius: 50%;
      .icon {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}


.footer-widget {
  @include max-lg {
    margin-bottom: 60px;
  }
  @include max-sm {
    margin-bottom: 40px;
  }
}

.footer-widget__title {
  color: #747474;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
  @include max-xl {
    font-size: 22px;
  }
  @include max-sm {
    margin-bottom: 24px;
  }
}

.footer-nav-list {
  li {
    margin-bottom: 22px;
    @include max-md {
      margin-bottom: 16px;
    }
    a {
      color: #4b647e;
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
      @include max-xl {
        font-size: 18px;
      }
    }
  }
}

.footer {
  padding-top: 75px;
  padding-bottom: 90px;
  @include max-lg {
    padding-bottom: 40px;
    padding-top: 60px;
  }
}

.footer__logo {
  margin-bottom: 35px;
}

.footer__desc {
  font-size: 14px;
  color: #747474;
  line-height: 28px;
  margin-bottom: 34px;
}

.footer__copy {
  font-size: 14px;
  color: #969ca2;
  font-weight: 400;
}

.footer__social {
  margin-bottom: 50px;
}

.footer-nav {
  padding-top: 12px;
}

.container {
  @include max-xl {
    max-width: none;
    padding-left: 50px;
    padding-right: 50px;
  }
  @include max-md {
    padding-left: 25px;
    padding-right: 25px;
  }
  @include max-xs {
    padding-left: 15px;
    padding-right: 15px;
  }
}




.wave-divider {
  width: 100%;
  height: 90px;
  display:block;
  @include max-md {
    height: 40px;
  }
}
.wave-parallax1 {
  animation: wave-move1 10s linear infinite;
}
.wave-parallax2 {
  animation: wave-move2 8s linear infinite;
}
.wave-parallax3 {
  animation: wave-move1 6s linear infinite;
}
.wave-parallax4 {
  animation: wave-move2 4s linear infinite;
}
@keyframes wave-move1 {
  0% {
      transform: translateX(85px);
  }
  100% {
      transform: translateX(-90px);
  }
}
@keyframes wave-move2 {
  0% {
      transform: translateX(-90px);
  }
  100% {
      transform: translateX(85px);
  }
}

.wave-block {
  position: relative;
  .wave-block__top {
    position: absolute;
    left: 0;
    background-color: #fbfcfd;
    // bottom: 100%;
    top: 0;
    width: 100%;
    // transform: scaleY(-1);
  }


  .wave-block__bottom {
    position: absolute;
    background-color: #fbfcfd;
    left: 0;
    bottom: 0;
    // top: 100%;
    width: 100%;
    transform: scaleY(-1);
    margin-top: -1px;
  }
}


.profile-box {
  text-align: center;
  margin-bottom: 40px;
}

.profile-box__title {
  font-size: 23px;
  font-weight: 600;
  color: #00152b;
}

.profile-box__position {
  color: #008fd1;
  font-size: 15px;
  font-weight: 600;
}

.profile-box__image {
  margin-bottom: 35px;
}

.profile-box__image__inner {
  display: inline-block;
  max-width: 255px;
  width: 100%;
}

.profiles {
  padding-top: 84px;
  padding-bottom: 50px;
  .heading {
    margin-bottom: 88px;
  }
}

.video-section {
  padding-top: 85px;
  padding-bottom: 80px;
  .heading {
    margin-bottom: 60px;
  }
}

.video-section__video {
  max-width: 998px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.values {
  padding-top: 160px;
  padding-bottom: 160px;
  .heading {
    margin-bottom: 85px;
  }
  .wave-block__bottom, .wave-block__top {
    background-color: #fff;
  }
}

.blue-section {
  background-color: #00152b;
  .heading__subtitle {
    color: #fff;
  }
  color: #fff;
}

.value-box {
  text-align: center;
  max-width: 440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.value-box__title {
  color: #008fd1;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.values__container {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.value-box__text {
  line-height: 1.5;
}

.values-grid {
  margin-bottom: 90px;
}

.feedback-form {
  max-width: 720px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.feedback-form__row {
  margin-left: -5px;
  margin-right: -5px;
}

.feedback-form__col {
  padding-left: 5px;
  padding-right: 5px;
}

.feedback {
  padding-top: 115px;
  padding-bottom: 100px;
}



.jq-selectbox {
  &.opened {
    .jq-selectbox__trigger-arrow {
      transform: rotate(180deg);
    }
  }
  &.focused {
    .jq-selectbox__select {
      border: 2px solid #0c2558;
    }
  }
}


.jq-selectbox__select {
  margin-bottom: 20px;
  height: 45px;
  border-radius: 23px;
  border: 2px solid #0c2558;
  text-align: center;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  padding-right: 8px;
  text-shadow: none;
  background-color: #fff;
  box-shadow: none;
  &:hover {
    background: #fff;
  }
  &:active {
    background: #fff;
    box-shadow: none;
  }
}
.jq-selectbox__trigger {
  position: relative;
  width: 20px;
  display: inline-block;
  border: 0;
}

.jq-selectbox__trigger-arrow {
  margin-top: -1px;
}

.jq-selectbox__select-text {
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  width: auto;
  color: #0c2558;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 12px;
  width: 0;
  height: 0;
  border-color: #0c2558 transparent transparent transparent; 
  border-style: solid;
  border-width: 7px 5.5px 0 5.5px;
}

.jq-selectbox, .jq-select-multiple {
  display: block;
}

.jq-selectbox__dropdown {
  box-shadow: none;
  background-color: #fff;
  border: 2px solid #0c2558;
}

.jq-radio {
  width: 21px;
  height: 21px;
  border-radius: 23px;
  border: 2px solid #0c2558;
  background: #ffffff;
  box-shadow: none;
  &.checked, &.focused {
    border: 2px solid #0c2558!important;
  }
}

.jq-radio.checked .jq-radio__div {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4.5px;
  margin-top: -4.5px;
  width: 9px;
  height: 9px;
  border-radius: 23px;
  background-color: #008fd1;
  box-shadow: none;
}

.accept {
  margin-bottom: 20px;
  .jq-radio {
    float: left;
  }
}

.accept__text {
  color: #0c2558;
  font-size: 9px;
  line-height: 12px;
  display: block;
  padding-left: 40px;
}

.blog-post-box {
  background-color: #f8fcff;
  padding-top: 125px;
  padding-bottom: 145px;
}

.blog-post-box__info {
  padding-top: 43px;
}

.blog-post-box__inner {
  display: flex;
}

.blog-post-box__title {
  color: #00152b;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 38px;
  a {
    color: #00152b;
  }
}

.blog-post-box__desc {
  color: #8190a6;
  margin-bottom: 25px;
}

.blog-posts {
  .blog-post-box {
    &:nth-child(2n) {
      background-color: #fff;
    }
    &:nth-child(2n-1) {
      .blog-post-box__image {
        .blog-polygon {
          @include clip-path('../images/blog-lg-1.svg#blog-polygon-lg_1');
          object-fit: cover;
          @include max-md {
             @include clip-path('../images/blog-1.svg#blog-polygon_1');
          }
        }
      }
    }

    &:nth-child(3n-1) {
      .blog-post-box__image {
        .blog-polygon {
          @include clip-path('../images/blog-lg-3.svg#blog-polygon-lg_3');
          object-fit: cover;
          @include max-md {
             @include clip-path('../images/blog-3.svg#blog-polygon_3');
          }
        }
      }
    }
    &:nth-child(3n) {
      .blog-post-box__image {
        .blog-polygon {
          @include clip-path('../images/blog-lg-2.svg#blog-polygon-lg_2');
          object-fit: cover;
          @include max-md {
             @include clip-path('../images/blog-2.svg#blog-polygon_2');
          }
        }
      }
    }
  }
}

.blog-post-box__image {
  text-align: center;
  .blog-polygon {
     @include clip-path('../images/blog-lg-1.svg#blog-polygon-lg_1');
  }
}

.blog-post-box__image__inner {
  text-align: center;
  max-width: 335px;
  height: 314px;
  width: 100%;
  display: inline-block;
  @include max-md {
    max-width: 255px;
    height: auto;
  }
}

.blog_pagination {
  margin-top: -50px;
}

.tiled-slider {
  margin-left: -15px;
  margin-right: -15px;
  .slick-slide {
    position: relative;
    z-index: 1;
    transform: scale(1);
    transition: transform .4s;
    &:hover {
      z-index: 5;
      transform: scale(2);
      .tiled-slider__desc {
        opacity: 1;
        visibility: visible;
      }
      a {
        opacity: 1;
      }
    }
  }
  .slick-track {
    padding-top: 150px;
    padding-bottom: 250px;
    &:not(:hover) .slick-center {
      z-index: 5;
      transform: scale(2);
      .tiled-slider__desc {
        opacity: 1;
        visibility: visible;
      }
      a {
        opacity: 1;
      }
    }
  }
}

.tiled-slider__item {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  img {
    display: inline-block;
    width: 100%;
  }
  a {
    opacity: .2;
  }
}

.tiled-slider__desc {
  position: absolute;
  padding-top: 20px;
  top: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.gallery {
  padding-top: 77px;
  padding-bottom: 50px;
  .heading {
    margin-bottom: 50px;
  }
}

.slider-nav-arr {
  .nav-arr {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    &.prev {
      left: 80px;
    }
    &.next {
      right: 80px;
    }
    svg {
      width: 34px;
      height: 46px;
    }
  }
}

.slider-nav-wrap {
  position: relative;
}

.video-carousel {
  .slick-list {

      padding: 30px !important;
      margin: -30px;


  }
}


.nav-default {
  .owl-nav {
    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
      cursor: pointer;
      transform: translateY(-50%);
      width: 34px;
      height: 46px;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
    .owl-prev {
      left: 80px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 16'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23008fd1' d='M1.517 9.675a2 2 0 0 1 0-3.152l6.785-5.301a2 2 0 0 1 3.232 1.576v10.601a2 2 0 0 1-3.232 1.577z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")!important;
    }
    .owl-next {
      right: 80px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 16'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23008fd1' d='M9.983 6.523a2 2 0 0 1 0 3.152l-6.785 5.3A2 2 0 0 1-.034 13.4V2.798a2 2 0 0 1 3.232-1.576z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")!important;
    }
  }
}