// stylelint-disable no-empty-source

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700|Roboto&display=swap');




// font-family: 'Montserrat', sans-serif;

// font-family: 'Roboto', sans-serif;

// font-family: 'Lato', sans-serif;



@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Bold.eot');
    src: url('../fonts/Mont-Bold.eot') format('embedded-opentype'),
         url('../fonts/Mont-Bold.ttf') format('truetype'),
         url('../fonts/Mont-Bold.woff2') format('woff2'),
         url('../fonts/Mont-Bold.woff') format('woff'),
         url('../fonts/Mont-Bold.svg#Mont-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap

}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Light.eot');
    src: url('../fonts/Mont-Light.eot') format('embedded-opentype'),
         url('../fonts/Mont-Light.woff2') format('woff2'),
         url('../fonts/Mont-Light.woff') format('woff'),
         url('../fonts/Mont-Light.ttf') format('truetype'),
         url('../fonts/Mont-Light.svg#Mont-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap

}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-SemiBold.eot');
    src: url('../fonts/Mont-SemiBold.eot') format('embedded-opentype'),
         url('../fonts/Mont-SemiBold.woff2') format('woff2'),
         url('../fonts/Mont-SemiBold.woff') format('woff'),
         url('../fonts/Mont-SemiBold.ttf') format('truetype'),
         url('../fonts/Mont-SemiBold.svg#Mont-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Book.eot');
    src: url('../fonts/Mont-Book.eot') format('embedded-opentype'),
         url('../fonts/Mont-Book.woff2') format('woff2'),
         url('../fonts/Mont-Book.woff') format('woff'),
         url('../fonts/Mont-Book.ttf') format('truetype'),
         url('../fonts/Mont-Book.svg#Mont-Book') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}



