// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-bl: #58a3d3;
$color-b: #486d8a;
$color-hover: #75c0ef;

$color-blue: #addce5;
$color-black: #373737;

// FONTS

$DITALIC: "DINBlackItalic", sans-serif;
$DBOLD: "DINNextLTProBold", sans-serif;
$DHEAVY: "DINNextLTProHeavy", sans-serif;
$DMED: "DINNextLTProMedium", sans-serif;  
